@import 'palette';
@import 'config';
@import 'bootstrap/bootstrap';
@import 'skeleton';

.z-header {
  @include make-container();
  background: lighten($color4, 30%) none repeat scroll 0 0;
}

.z-logo {
  float: left;
  width: 15rem;
}

.z-topmenu {
  float: left;
}

.z-main {
  @include make-container();
  position: relative;
}

.z-sidebar {
  position: absolute;
  width: 15rem;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.z-content {
  margin-left: 15rem;
}

.m-logo {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
}

.m-menu {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1.25rem;
  font-weight: 700;
  &__item {
    display: inline-block;
    padding: 1rem 0.5rem;
    &--vertical {
      display: block;
    }
  }
  &__link {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.c-admin-form {
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  &__input {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    color: #666;
    border-radius: 0.25rem;
    border: 2px solid #b2b2b2;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
  }
  &__button {
    width: 100%;
    text-transform: uppercase;
    background: $color3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0.25rem;
    padding: 0.75em 1.5em;
    &:hover, &:focus {
      background: darken($color3, 5%) none repeat scroll 0 0;
    }
  }
}