{% extends skeleton %}
{% block zHead %}
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/pub/styles/main.css">
{% endblock %}
{% block zHeader %}
    {{  menuContent|raw }}
{% endblock %}
{% block zContent %}
    {{  pageContent|raw }}
{% endblock %}
{% block zSidebar %}
{% endblock %}
{% block zFooter %}
    <div class="m-footer">2015 (с) Все права принадлежат народу</div>
{% endblock %}