{% extends skeleton %}
{% block zHead %}
    <link rel="stylesheet" href="/pub/styles/main.css">
{% endblock %}
{% block zHeader %}
    {{  menuContent|raw }}
{% endblock %}
{% block zContent %}
    {{  pageContent|raw }}
{% endblock %}
{% block zSidebar %}
    Сайдбар
{% endblock %}
{% block zFooter %}
    <div class="z-footer-inner">2015 (с) Все права принадлежат народу</div>
{% endblock %}