/* Основной стиль шаблона */



.m-menu {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1.25rem;
  font-weight: 700;
  &__item {
    display: inline-block;
    padding: 1rem 0.5rem;
  }
}

.z-content, .z-sidebar, .z-footer {padding: 1rem;}

.z-footer {
  font-weight: 700;
  color: #ffffff;
  background: $color2 none repeat scroll 0 0;
}

.m-footer {
  @include make-col();
}
