@import 'bootstrap/variables';
@import 'bootstrap/clearfix';
@import 'bootstrap/functions';

/* Основной стиль шаблона */

.z-content, .z-sidebar, .z-footer {padding: 1rem; @include clearfix; font-size: rem-calc(12); }

.z-header { background: lighten(#333, 30%) none repeat scroll 0 0; }