/* Coolors Exported Palette - coolors.co/203627-466365-16f4d0-429ea6-153b50 */

$color1: #203627; //rgba(32, 54, 39, 100)
$color2: #466365; //rgba(70, 99, 101, 100)
$color3: #16f4d0; //rgba(22, 244, 208, 100)
$color4: #429ea6; //rgba(66, 158, 166, 100)
$color5: #153b50; //rgba(21, 59, 80, 100)