/* Скелет Default */

// Настройки скелета
$z-container-width: 60rem!default;
$z-footer-height: 4rem!default;

// Прибитый вниз футер
html, body {
  height: 100%;
}
.z-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.z-footer, {
  margin-top: -$z-footer-height;
  height: $z-footer-height;
}

// Сетка
html { min-width: $z-container-width; } // Фикс пропадания фона при уменьшении окна
.z-container {
  width: $z-container-width;
  @include make-container();
}

.z-row {
  @include make-row();
}

.z-content {
  @include make-col();
  @include make-col-span(8);
}

.z-sidebar {
  @include make-col();
  @include make-col-span(4);
}
