/* Coolors Exported Palette - coolors.co/c5d1eb-92afd7-5a7684-395b50-1f2f16 */

$color1: #c5d1eb; //rgba(197, 209, 235, 100)
$color2: #92afd7; //rgba(146, 175, 215, 100)
$color3: #5a7684; //rgba(90, 118, 132, 100)
$color4: #395b50; //rgba(57, 91, 80, 100)
$color5: #1f2f16; //rgba(31, 47, 22, 100)